#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

#Clients {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.clients {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.client {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: rgb(50, 50, 50);
}

.client:hover {
    background: rgb(125, 125, 125);
    transform: scale(1.10);
    transition: 0.3s;
}

.clientText h2 {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.clientImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.clientText>p {
    font-size: 0.9rem;
    font-weight: 1000;
    color: yellow;
}
/* .clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
} */

#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.contactForm label{
    font-size: 22px;
    color: #D8D8D8;
    font-weight: 500;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.submitBtn:hover {
    background: yellow;
    color: black;
    transform: scale(1.10);
    transition: 0.3s;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}